/* Common start */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#242f51 !important;
}
section{
    margin-bottom: 100px;;
}
/* Common end */

/* Header start */
header{
    background-color: rgba(255, 255, 255, 0.6) !important;
    background-image: none;
    transition: none 0s ease 0s;
    padding: 10px 0;
}
.nav-bg{
    
}
.logo {
    
}
.logo img{
    width: 8%;
}
.navmenu {
    
}
.navmenu li{
    
}
.navmenu li a{
    font-weight: 500;
    font-size: 17px !important;
    color: #121213;
}
.try-free{
    border-radius: 50px !important;
    background-color: #2500F9 !important;
    color: white !important;
    padding: 0.6rem 2rem !important;
}
/* Header end */


/* Banner start */
.banner{
    background-image: url(/img/illustrations/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    padding: 50px 0 80px 0;
}
.banner-content{
    /* margin-top: 150px; */
}
.badge-color{
    background-color: #E2EAED !important;
    color: #1F1534 !important;
}

.badge img{
    margin-left: -4px !important;
}

.banner-img img{
    width: 350px;
}

.badge-text {
    
}
.badge-text p{
    font-weight: 700;
    font-size: 1.1em;
    padding: 0 1.3em 0 1em;
    display: inline;
}

.banner-title{
    
}
.banner-title h1{
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 3.4rem
}
.banner-text{
    /* width: 70%; */
}
.banner-text p{
    font-size: 1.3rem;
    font-weight: 400;
    color: #6A6C71;
}
.banner-link{
    font-size: 1.3rem;
}
.banner-link a{
    text-decoration: none;
}
.watch-demo{
    font-size: 1.1rem !important;
    color: #2500F9;
}
/* Banner end */


/* Trusted company start */

.company-title{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.company-content ul{}

.company-content ul li{
    list-style-type: none;
}

.company-content ul li img{}
/* Trusted company end */


/* Awesome app start */
.awsome-app{
    margin-top: 100px;
}
.awesome-content{}
.awesome-content h2{
    font-size: 2.2rem;
    font-weight: 700;
}
.awesome-content p{
    font-size: 16px;
    font-weight: 400;
    color: #6A6C71;
}
.awesome-feature{
    
}
.awesome-feature h5{
    font-size: 1.3rem;
    font-weight: 700;
    
}
/* Awesome app end */

/* Jackpot start */
.jackpot-title h2{
    font-size: 2.7rem;
    font-weight: 700;
}
.jackpot-text p{

}
/* Jackpot end */


/* Design&Built start */
.design-content h2{
    font-size: 2.2rem;
    font-weight: 700;
}
.design-content p{
    font-size: 16px;
    font-weight: 400;
    color: #6A6C71;
}
/* Design&Built end */


/* Why choose start */
.why-choose-content{}

.why-choose-content h2{
    font-size: 2.2rem;
    font-weight: 700;
    
}

.why-choose-content p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #6A6C71;
}

.why-choose-featuers{
    text-align: center;
    margin-top: 50px;
}

.single-feature{}

.why-feature-img{}

.why-feature-content{}

.why-feature-content h5{
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 15px;
}

.why-feature-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #6A6C71;
}
/* Why choose end */


/* Unlimited feature start */
.unlimited-feature-content{}

.unlimited-feature-content h2{
    font-size: 2.2rem;
    font-weight: 700;
    
}

.unlimited-feature-content p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #6A6C71;
}

.unlimited-singe-text h5{
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 15px;
}

.unlimited-singe-text p{
    font-size: 1rem;
    font-weight: 400;
    color: #6A6C71;
}
/* Unlimited feature end */


/* Awesome Charge start */

.awesome-charge-content h2{
    font-size: 2.2rem;
    font-weight: 700;
    
}

.awesome-charge-content p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #6A6C71;
}

.price-list{
    text-align: center;
}
.price-list ul{}
.price-list li{
    list-style: none;
}

.price-card{
    transition: 0.5s;
}
.price-card:hover{
    transform: scale(1.05);
}
.package-name{
    font-size: 1.1rem;
    font-weight: 500;
}

/* Awesome Charge end */


/* Testimonial start */
.testimonial-title h2{
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 15px;
}

.testimonial-title p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #6A6C71;
}

.single-testimonial h5{
    font-size: 1.3rem;
    font-weight: 700;
}
/* Testimonial end */


/* Frequent question start */
.question{
    padding-bottom: 200px;
    border-bottom: 1px solid lightgray;
}
.question-content h2{
    font-size: 2.2rem;
    font-weight: 700;
    
}

.question-content p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #6A6C71;
}

.accordion-list {
    transition: 2s;
  }

  .accordion-list-item{
    background-color: #F5F7FA;
  }

  .accordion-title {
    font-weight: 700;
    padding: 20px 40px;
}

  .accordion-title-border {
    border-bottom: 1px solid white;
}
  
  .accordion-desc {
    font-size: 1.15rem;
    font-weight: 400;
    background-color: #F5F7FA;
    padding: 20px 40px;

  }

  .minus{
      font-size: 1.3rem;
      font-weight: 600;
  }
  .minus-rotate{
      transform: rotate(180deg);
  }

/* Frequent question end */


/* Download app start */
.download-app{
    margin-bottom: 0 !important;
}
.download-content{}
.download-content h2{
    font-size: 3rem;
    font-weight: 700;
}
.download-content p{
    font-size: 1.2rem;
    font-weight: 400;
}
.download-img img{
    z-index: 1;
    position: relative;
    margin-bottom: -30px;
}
/* Download app end */


/* Footer start */
footer{
    padding: 150px 0;
    position: relative;
    background-color: #242F51;
}
/* Footer end */